fusesoc.conf
build/**
fusesoc_libraries/**
*.bin
*.mif
*.elf
*.su
*.hex
*.fst
aft_out/
aft_out_xcelium/
sw-tests/build/**
doc/book/**
.venv/
.vscode/
top_level/tb/version.h
.clangd
.zed/**
filelist.tcl
